@media (min-width: 1950) {
  .custom-visible-xl {
    display: block !important;
  }
  table.custom-visible-xl {
    display: table;
  }
  tr.vcustom-isible-xl {
    display: table-row !important;
  }
  th.custom-visible-xl,
  td.custom-visible-xl {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .custom-hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .custom-hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .custom-hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) and (max-width: 1949px) {
  .custom-hidden-lg {
    display: none !important;
  }
}

.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:rgba(255, 255, 255, .9);
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:0px;
  font-size:12px;
  font-weight:bold;
  color:#ffffff;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.skillbar-title span {
  display:block;
  width: 200px;
  padding:0 10px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  color:rgba(0, 0, 0, 1);
}

.skillbar-bar {
  height:35px;
  width:0px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:12px;
  height:35px;
  line-height:35px;
  color:rgba(0, 0, 0, 1);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.about {
  height: auto;
  overflow: auto;
  background-color: #292c33;
  padding-top: 100px;
  padding-bottom: 80px;
}

.left {
  width: 50%;
  float: left;
  padding: 2%;
}
.right {
  width: 50%;
  float: left;
  padding: 2%;
}

.left-certs {
  width: 20%;
  height: 100px;
  margin-bottom: 10px;
  float: left;
}

.right-certs {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
  float: left;
}

.left-certs img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  height: 100px;
}

.right-certs h4>a {
  line-height: 75px;
  padding-left: 20px;
}

.certs {
  overflow: auto;
}
.more-about-info a {
  color: #FFF;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}

@media only screen and (max-width: 1026px) {
  #conditional-hide {
    width: 100%;
  }
}

@media only screen and (max-width: 1026px) {
  #conditional-full-width {
    width: 100%;
  }
}

@media only screen and (max-width: 1026px) {
  #conditional-background-offset {
    background-position: 73%;
  }
}

@media only screen and (max-height: 400px) {
  #conditional-hide-text {
    display:none;
  }
}

@media only screen and (max-width: 1026px) {
  .hide-on-mobile {
    display:none;
  }
  .conditional-half-width {
    width: 50%;
  }
  .single-row-cert-height {
    height: 220px;
  }
}

a, p {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: #FFF;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: FFF;
    color: #000;
  }
}
