<div class="about" id="about">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">about me</h2>
    <hr class="light">
  </div>
  <div class="left">
    <h3 class="text-faded">I'm a passionate software developer based in Dallas, Texas.</h3>
    <p class="text-faded">I enjoy design, clean code, continuous learning, and building positive team environments and strong developer experiences.</p>
  </div>
  <div class="right">
      <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #ffeb3b;"><span>JavaScript</span></div>
          <div class="skillbar-bar" style="background: #ffeb3b;"></div>
          <div class="skill-bar-percent">95%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="60%">
          <div class="skillbar-title" style="background: #009688;"><span>React</span></div>
          <div class="skillbar-bar" style="background: #009688;"></div>
          <div class="skill-bar-percent">60%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="30%">
          <div class="skillbar-title" style="background: #3f51b5;"><span>Vue</span></div>
          <div class="skillbar-bar" style="background: #3f51b5;"></div>
          <div class="skill-bar-percent">30%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="30%">
          <div class="skillbar-title" style="background: #ffc107;"><span>Angular</span></div>
          <div class="skillbar-bar" style="background: #ffc107;"></div>
          <div class="skill-bar-percent">30%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="95%">
            <div class="skillbar-title" style="background: #4caf50;"><span>Test Automation</span></div>
            <div class="skillbar-bar" style="background: #4caf50;"></div>
            <div class="skill-bar-percent">95%</div>
          </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="75%">
          <div class="skillbar-title" style="background: #2196f3;"><span>Docker</span></div>
          <div class="skillbar-bar" style="background: #2196f3;"></div>
          <div class="skill-bar-percent">75%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="50%">
            <div class="skillbar-title" style="background: #e91e63;"><span>Design</span></div>
            <div class="skillbar-bar" style="background: #e91e63;"></div>
            <div class="skill-bar-percent">50%</div>
          </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="65%">
          <div class="skillbar-title" style="background: #8bc34a;"><span>Linux</span></div>
          <div class="skillbar-bar" style="background: #8bc34a;"></div>
          <div class="skill-bar-percent">65%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #ff9800;"><span>Node JS</span></div>
          <div class="skillbar-bar" style="background: #ff9800;"></div>
          <div class="skill-bar-percent">95%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title" style="background: #03a9f4;"><span>NOSQL</span></div>
          <div class="skillbar-bar" style="background: #03a9f4;"></div>
          <div class="skill-bar-percent">80%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title" style="background: #9c27b0;"><span>SQL</span></div>
          <div class="skillbar-bar" style="background: #9c27b0;"></div>
          <div class="skill-bar-percent">80%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="100%">
          <div class="skillbar-title" style="background: #ff5722;"><span>GitHub & GitLab</span></div>
          <div class="skillbar-bar" style="background: #ff5722;"></div>
          <div class="skill-bar-percent">100%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="70%">
          <div class="skillbar-title" style="background: #cddc39;"><span>CI/CD & Pipelines</span></div>
          <div class="skillbar-bar" style="background: #cddc39;"></div>
          <div class="skill-bar-percent">70%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="70%">
          <div class="skillbar-title" style="background: #00bcd4;"><span>Photoshop</span></div>
          <div class="skillbar-bar" style="background: #00bcd4;"></div>
          <div class="skill-bar-percent">70%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="70%">
          <div class="skillbar-title" style="background: #673ab7;"><span>Grafana & Prometheus </span></div>
          <div class="skillbar-bar" style="background: #673ab7;"></div>
          <div class="skill-bar-percent">70%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="90%">
          <div class="skillbar-title" style="background: #b2a300;"><span>Java</span></div>
          <div class="skillbar-bar" style="background: #b2a300;"></div>
          <div class="skill-bar-percent">90%</div>
        </div> <!-- End Skill Bar -->
      </section>
  </div>
</div>
