<div class="about" id="about">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1 class="section-heading">about me</h1>
    <hr class="light">
  </div>
  <div class="left" id="conditional-hide">
    <h2 class="text-light-faded">Background</h2>
    <p class="text-faded">I'm a passionate and detail oriented software developer based in Dallas,
      Texas. Experienced team lead where I enjoy design, clean code, and building positive team
      environments and strong developer experiences. I enjoy turning complex problems into
      brilliant solutions. I enjoy continuous learning and exploring new technologies. When I'm not
      coding at home or work, I enjoy time with my family and cycling.</p>
    </br>
    <hr class="light">
    <h2 class="text-light-faded">Work Experience</h2>
    <h3 class="text-faded-more">Software Developer - State Farm 2017 to Present</h3>
    <p class="text-faded">Built new solutions using React, Node, NOSQL, REST, Docker, GitLab,
      CI/CD, Grafana, and Prometheus for enablement of large high priority enterprise initiatives.
      Mentor several team members in modern technology. Design solutions for implementation. Teach
      classes on modern JavaScript.</p>
    </br>
    <h3 class="text-faded-more">Software Developer - State Farm 2015 to 2017</h3>
    <p class="text-faded">Designed and architected the creation of many successful web services
      allowing developers the ability to get on demand fabricated data a variety of needs and
      automation. It’s been used over 2 million times across the enterprise. This empowers and
      enables developers to focus on their work and not data fabrication.</p>
    </br>
    <h3 class="text-faded-more">Software Developer - State Farm 2014 to 2015</h3>
    <p class="text-faded">Led development and design for standing up automation infrastructure in
      a quicker and more responsible manner. Largely automating a process that was manual
      intensive and costly. The solution offered a complete stand up and tear down process
      accomplished in minutes compared to days previously.</p>
    </br>
    <h3 class="text-faded-more">Software Developer - State Farm 2011 to 2014</h3>
    <p class="text-faded">Taught Java in Enterprise Java classes to spread knowledge. Active member
      of the college recruitment team including creation of campus events, hacks, and interviews.
      Mentored many college interns through a successful internships resulting in all receiving and
      accepting full time positions. Designed and implemented multiple solutions in Java Spring.</p>
    </br>
  </div>
  <div class="right" id="conditional-full-width">
    <div name="skills" id="skills-graph">
      <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #ffeb3b;"><span>JavaScript</span></div>
          <div class="skillbar-bar" style="background: #ffeb3b;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="60%">
          <div class="skillbar-title" style="background: #009688;"><span>React</span></div>
          <div class="skillbar-bar" style="background: #009688;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="30%">
          <div class="skillbar-title" style="background: #3f51b5;"><span>Vue</span></div>
          <div class="skillbar-bar" style="background: #3f51b5;"></div>
          <div class="skill-bar-percent">Novice</div>
        </div>
        <div class="skillbar clearfix " data-percent="30%">
          <div class="skillbar-title" style="background: #ffc107;"><span>Angular</span></div>
          <div class="skillbar-bar" style="background: #ffc107;"></div>
          <div class="skill-bar-percent">Novice</div>
        </div>
        <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #4caf50;"><span>Test Automation</span></div>
          <div class="skillbar-bar" style="background: #4caf50;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="75%">
          <div class="skillbar-title" style="background: #2196f3;"><span>Docker</span></div>
          <div class="skillbar-bar" style="background: #2196f3;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="50%">
          <div class="skillbar-title" style="background: #e91e63;"><span>Design</span></div>
          <div class="skillbar-bar" style="background: #e91e63;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="65%">
          <div class="skillbar-title" style="background: #8bc34a;"><span>Linux</span></div>
          <div class="skillbar-bar" style="background: #8bc34a;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #ff9800;"><span>Node JS</span></div>
          <div class="skillbar-bar" style="background: #ff9800;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title" style="background: #03a9f4;"><span>NOSQL</span></div>
          <div class="skillbar-bar" style="background: #03a9f4;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title" style="background: #9c27b0;"><span>SQL</span></div>
          <div class="skillbar-bar" style="background: #9c27b0;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="100%">
          <div class="skillbar-title" style="background: #ff5722;"><span>GitHub & GitLab</span></div>
          <div class="skillbar-bar" style="background: #ff5722;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="85%">
          <div class="skillbar-title" style="background: #cddc39;"><span>CI/CD & Pipelines</span></div>
          <div class="skillbar-bar" style="background: #cddc39;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="85%">
          <div class="skillbar-title" style="background: #00bcd4;"><span>Grafana & Prometheus </span></div>
          <div class="skillbar-bar" style="background: #00bcd4;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="90%">
          <div class="skillbar-title" style="background: #673ab7;"><span>Java</span></div>
          <div class="skillbar-bar" style="background: #673ab7;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #b2a300;"><span>Photoshop</span></div>
          <div class="skillbar-bar" style="background: #b2a300;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
      </section>
    </div>
    <div class="more-about-info">
      <a href="https://www.linkedin.com/in/matt-jarrett-303a75144/">More on LinkedIn</a>
      </br>
      <a href="https://drive.google.com/open?id=1zQTK0xFEhr7yS8Lu5VkgsHkmwNMnFhuQ">My Resume</a>
    </div>
  </div>
</div>
