<div class="about" id="about">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1 class="section-heading">about me</h1>
    <hr class="light">
  </div>
  <div class="left" id="conditional-hide">
    <h2 class="text-light-faded">Background</h2>
    <p class="text-faded">I'm a passionate and detail oriented full stack software developer
      based in Dallas, Texas. Experienced leader where I enjoy design, clean code, and
      building positive team environments and strong developer experiences. I enjoy turning
      problems into solutions that make people smile. I enjoy continuous learning and exploring
      new technologies. When I'm not coding at home or work, I enjoy time with my family and
      photography.</p>
    <h2 class="text-light-faded">Certifications</h2>
    <div id="certs" class="certs single-row-cert-height">
      <div class="left-certs conditional-half-width">
        <a alt="Certified Kubernetes Application Developer (CKAD)" href="https://www.youracclaim.com/badges/274f4c4a-ffdb-4caa-9ece-82338d7fa974"><img alt="Certified Kubernetes Application Developer (CKAD)" src="../img/ckad.png"/></a>
      </div>
      <div class="right-certs hide-on-mobile">
        <h4><a alt="Certified Kubernetes Application Developer (CKAD)" href="https://www.youracclaim.com/badges/274f4c4a-ffdb-4caa-9ece-82338d7fa974">Certified Kubernetes Application Developer (CKAD)</a></h4>
      </div>
      <div class="left-certs conditional-half-width">
        <a alt="AWS Certified Solutions Architect – Associate" href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2020-01-09&ci=AWS01225937"><img alt="AWS Certified Solutions Architect – Associate" src="../img/aws-saa.png"/></a>
      </div>
      <div class="right-certs hide-on-mobile">
        <h4><a alt="AWS Certified Solutions Architect – Associate" href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2020-01-09&ci=AWS01225937">AWS Certified Solutions Architect – Associate</a></h4>
      </div>
    </div>
    <h2 class="text-light-faded">Work Experience</h2>
    <h3 class="text-faded-more">Principal Engineer - State Farm 2020 to Present</h3>
    <p class="text-faded">Advancing Cloud Native and DevOps transformations in the telematics
      platform space. Working with an exciting mix of technology including public cloud, mobile,
      and legacy systems. Working daily on not only technology but also culture.</p>
    <h3 class="text-faded-more">Software Developer - State Farm 2017 to 2019</h3>
    <p class="text-faded">Built new solutions using React, Node, NOSQL, REST, Kubernetes, GitLab,
      CI/CD, Grafana, and Prometheus for enablement of large high priority enterprise initiatives.
      Mentored several team members in modern technology. Designed solutions for implementation.
      Taught classes on modern JavaScript.</p>
    <h3 class="text-faded-more">Software Developer - State Farm 2015 to 2017</h3>
    <p class="text-faded">Designed and implemented many successful web services allowing developers
      on demand access to safe fabricated data for a variety of needs and automation. It's since
      been used millions of times across the enterprise, enabling development teams to focus on
      improving customer experience.</p>
    <h3 class="text-faded-more">Software Developer - State Farm 2014 to 2015</h3>
    <p class="text-faded">Designed and implemented an automated infrastructure solution offering
      a complete stand up and tear down process accomplished in minutes compared to days.</p>
    <h3 class="text-faded-more">Software Developer - State Farm 2011 to 2014</h3>
    <p class="text-faded">Taught Java in Enterprise Java classes to spread knowledge. Active member
      of the college recruitment team including creation of campus events, hacks, and interviews.
      Mentored many college interns through a successful internships resulting in all receiving and
      accepting full time positions. Designed and implemented multiple solutions in Java.</p>
  </div>
  <div class="right" id="conditional-full-width">
    <div name="skills" id="skills-graph">
      <div class="skillbar clearfix " data-percent="90%">
        <div class="skillbar-title" style="background: #f44336;"><span>AWS</span></div>
        <div class="skillbar-bar" style="background: #f44336;"></div>
        <div class="skill-bar-percent">Pro</div>
      </div>
      <div class="skillbar clearfix " data-percent="100%">
          <div class="skillbar-title" style="background: #e91e63;"><span>Node JS & JavaScript</span></div>
          <div class="skillbar-bar" style="background: #e91e63;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title" style="background: #9c27b0;"><span>React</span></div>
          <div class="skillbar-bar" style="background: #9c27b0;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="50%">
          <div class="skillbar-title" style="background: #673ab7;"><span>Vue</span></div>
          <div class="skillbar-bar" style="background: #673ab7;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="40%">
          <div class="skillbar-title" style="background: #3f51b5;"><span>Angular</span></div>
          <div class="skillbar-bar" style="background: #3f51b5;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="55%">
          <div class="skillbar-title" style="background: #2196f3;"><span>Go</span></div>
          <div class="skillbar-bar" style="background: #2196f3;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #03a9f4;"><span>Kubernetes & Docker</span></div>
          <div class="skillbar-bar" style="background: #03a9f4;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="60%">
          <div class="skillbar-title" style="background: #00bcd4;"><span>Design</span></div>
          <div class="skillbar-bar" style="background: #00bcd4;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="60%">
          <div class="skillbar-title" style="background: #009688;"><span>Linux</span></div>
          <div class="skillbar-bar" style="background: #009688;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="90%">
          <div class="skillbar-title" style="background: #4caf50;"><span>NOSQL & SQL</span></div>
          <div class="skillbar-bar" style="background: #4caf50;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="100%">
          <div class="skillbar-title" style="background: #8bc34a;"><span>GitHub & GitLab</span></div>
          <div class="skillbar-bar" style="background: #8bc34a;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #cddc39;"><span>CI/CD & Pipelines</span></div>
          <div class="skillbar-bar" style="background: #cddc39;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #ffeb3b;"><span>Grafana & Prometheus</span></div>
          <div class="skillbar-bar" style="background: #ffeb3b;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="90%">
          <div class="skillbar-title" style="background: #ffc107;"><span>Java</span></div>
          <div class="skillbar-bar" style="background: #ffc107;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #ff9800;"><span>Photoshop</span></div>
          <div class="skillbar-bar" style="background: #ff9800;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="60%">
          <div class="skillbar-title" style="background: #ff9800;"><span>Python</span></div>
          <div class="skillbar-bar" style="background: #ff9800;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
      </section>
    </div>
    <div class="more-about-info">
      <a href="https://www.linkedin.com/in/matt-jarrett-303a75144/">More on LinkedIn</a>
      </br>
      <a href="https://drive.google.com/file/d/1Ldl5STpWjKVrG5XyMzRY_pmFMBkuSjUv/view?usp=sharing">My Resume</a>
    </div>
  </div>
</div>
