<section class="bg-secondary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">about me</h2>
      <hr class="light">
      <h3 class="text-faded">I'm a passionate software developer based in Dallas, Texas.</h3>
      <p class="text-faded">I enjoy design, clean code, continuous learning, and building positive team environments and strong developer experiences.</p>
      </div>
    </div>
  </div>
</section>
