<section class="bg-secondary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">about me</h2>
      <hr class="light">
      <h3 class="text-faded">I'm a passionate software developer based in Dallas, Texas.</h3>
      <p class="text-faded">I enjoy design, clean code, continuous learning, and building positive team environments and strong developer experiences.</p>
      </div>
    </div>
  </div>

  <div class="skillbar clearfix " data-percent="95%">
    <div class="skillbar-title" style="background: #d35400;"><span>JavaScript</span></div>
    <div class="skillbar-bar" style="background: #e67e22;"></div>
    <div class="skill-bar-percent">95%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="60%">
    <div class="skillbar-title" style="background: #2980b9;"><span>React</span></div>
    <div class="skillbar-bar" style="background: #3498db;"></div>
    <div class="skill-bar-percent">60%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="30%">
    <div class="skillbar-title" style="background: #2c3e50;"><span>Vue</span></div>
    <div class="skillbar-bar" style="background: #2c3e50;"></div>
    <div class="skill-bar-percent">30%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="30%">
    <div class="skillbar-title" style="background: #46465e;"><span>Angular</span></div>
    <div class="skillbar-bar" style="background: #5a68a5;"></div>
    <div class="skill-bar-percent">30%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="95%">
      <div class="skillbar-title" style="background: #d35400;"><span>Test Automation</span></div>
      <div class="skillbar-bar" style="background: #e67e22;"></div>
      <div class="skill-bar-percent">95%</div>
    </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="75%">
    <div class="skillbar-title" style="background: #333333;"><span>Docker</span></div>
    <div class="skillbar-bar" style="background: #525252;"></div>
    <div class="skill-bar-percent">75%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="50%">
      <div class="skillbar-title" style="background: #46465e;"><span>Design</span></div>
      <div class="skillbar-bar" style="background: #5a68a5;"></div>
      <div class="skill-bar-percent">50%</div>
    </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="95%">
    <div class="skillbar-title" style="background: #d35400;"><span>Node JS</span></div>
    <div class="skillbar-bar" style="background: #e67e22;"></div>
    <div class="skill-bar-percent">95%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="95%">
    <div class="skillbar-title" style="background: #d35400;"><span>Git</span></div>
    <div class="skillbar-bar" style="background: #e67e22;"></div>
    <div class="skill-bar-percent">95%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="95%">
    <div class="skillbar-title" style="background: #d35400;"><span>Linux</span></div>
    <div class="skillbar-bar" style="background: #e67e22;"></div>
    <div class="skill-bar-percent">95%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="80%">
    <div class="skillbar-title" style="background: #27ae60;"><span>NPM</span></div>
    <div class="skillbar-bar" style="background: #2ecc71;"></div>
    <div class="skill-bar-percent">80%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="80%">
    <div class="skillbar-title" style="background: #27ae60;"><span>NOSQL</span></div>
    <div class="skillbar-bar" style="background: #2ecc71;"></div>
    <div class="skill-bar-percent">80%</div>
  </div> <!-- End Skill Bar -->


  <div class="skillbar clearfix " data-percent="80%">
    <div class="skillbar-title" style="background: #27ae60;"><span>SQL</span></div>
    <div class="skillbar-bar" style="background: #2ecc71;"></div>
    <div class="skill-bar-percent">80%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="90%">
    <div class="skillbar-title" style="background: #27ae60;"><span>Open Source Development</span></div>
    <div class="skillbar-bar" style="background: #2ecc71;"></div>
    <div class="skill-bar-percent">90%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="100%">
    <div class="skillbar-title" style="background: #27ae60;"><span>GitHub & GitLab</span></div>
    <div class="skillbar-bar" style="background: #2ecc71;"></div>
    <div class="skill-bar-percent">100%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="70%">
    <div class="skillbar-title" style="background: #124e8c;"><span>CI/CD & Pipelines</span></div>
    <div class="skillbar-bar" style="background: #4288d0;"></div>
    <div class="skill-bar-percent">70%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="70%">
    <div class="skillbar-title" style="background: #124e8c;"><span>Photoshop</span></div>
    <div class="skillbar-bar" style="background: #4288d0;"></div>
    <div class="skill-bar-percent">70%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="70%">
    <div class="skillbar-title" style="background: #124e8c;"><span>Grafana & Prometheus </span></div>
    <div class="skillbar-bar" style="background: #4288d0;"></div>
    <div class="skill-bar-percent">70%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="90%">
    <div class="skillbar-title" style="background: #d35400;"><span>Java</span></div>
    <div class="skillbar-bar" style="background: #e67e22;"></div>
    <div class="skill-bar-percent">90%</div>
  </div> <!-- End Skill Bar -->
</section>
