<header id="conditional-background-offset">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Hi.</h1>
      <h3>I'm Matt Jarrett.</h3>
      <div id="conditional-hide-text">
        <p>Dad.</p>
        <p>Husband.</p>
        <p>Full Stack Developer.</p>
        <p>JavaScript Enthusiast.</p>
        <p>Maker of Things.</p>
        <p>Aspiring Designer.</p>
        <p>Cyclist.</p>
      </div>
      <br>
      <a href="#about" class="btn btn-default btn-xl page-scroll">More About Me</a>
    </div>
  </div>
</header>
