<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-code-fork wow bounceIn text-primary"></i>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i style="font-weight: 900;" class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".1s"></i>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-coffee wow bounceIn text-primary" data-wow-delay=".2s"></i>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
        </div>
      </div>
    </div>
  </div>
</section>
