<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Matt Jarrett</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a class="page-scroll" href="#support">Support</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
        <li>
          <a style="padding-top:12px;" href="https://github.com/cujarrett"><i class="fa fa-2x fa-github ext-primary"></i></a>
        </li>
        <li>
          <a style="padding-top:12px;" href="https://twitter.com/cujarrett"><i class="fa fa-2x fa-twitter ext-primary"></i></a>
        </li>
        <li>
          <a style="padding-top:12px;" href="https://twitch.tv/cujarrett"><i class="fa fa-2x fa-twitch ext-primary"></i></a>
        </li>
        <li>
          <a style="padding-top:12px;" href="https://www.linkedin.com/in/matt-jarrett-303a75144/"><i class="fa fa-2x fa-linkedin ext-primary"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
