<section id="portfolio">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1 class="section-heading-dark">work I'm proud of</h1>
    <hr class="dark">
  </div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-4">
      <a href="https://www.glimpse.ninja/" class="portfolio-box">
        <img src="img/portfolio/glimpse.png" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">
            React web app to lookup GitHub Open Source contributions
          </div>
          <div class="project-name">
            Glimpse
          </div>
        </div>
        </div>
      </a>
      </div>
      <div class="col-lg-4 col-sm-4">
      <a href="https://github.com/cujarrett/es6-in-six-hours" class="portfolio-box">
        <img src="img/portfolio/es6-in-six-hours.png" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">
            Learn ES6 in Six One Hour Sessions
          </div>
          <div class="project-name">
            ES6 in Six Hours
          </div>
        </div>
        </div>
      </a>
      </div>
      <div class="col-lg-4 col-sm-4">
      <a href="https://github.com/cujarrett/markdown-tables" class="portfolio-box">
        <img src="img/portfolio/markdown-tables.png" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">
            Helping the world move Excel table data into Markdown tables
          </div>
          <div class="project-name">
            Markdown Tables
          </div>
        </div>
        </div>
      </a>
      </div>
    </div>
    <div class="custom-hidden-xs custom-hidden-sm custom-hidden-md custom-hidden-lg custom-visible-xl">
      <div style="height: 50px;"></div>
    </div>
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-4">
      <a href="https://www.oilcountdown.info/" class="portfolio-box">
        <img src="img/portfolio/oil-countdown.png" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">
            React web app counting down remaining oil
          </div>
          <div class="project-name">
            Oil Countdown
          </div>
        </div>
        </div>
      </a>
      </div>
      <div class="col-lg-4 col-sm-4">
      <a href="https://twitter.com/banshee44mods" class="portfolio-box">
        <img src="img/portfolio/banshee-44-mods-bot.png" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">
            Node Twitter bot that tweets about Destiny
          </div>
          <div class="project-name">
            Banshee 44 Mods Bot
          </div>
        </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</section>
