<section id="portfolio">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1 class="section-heading-dark">work I'm proud of</h1>
    <hr class="dark" />
  </div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-4">
        <a href="https://github.com/cujarrett/spellcheckme" class="portfolio-box">
          <img src="img/portfolio/spellcheckme.png" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Spellcheck CLI
              </div>
              <div class="project-name">
                spellcheckme
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-4">
        <a href="https://www.oilcountdown.info/" class="portfolio-box">
          <img src="img/portfolio/oil-countdown.png" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                React web app counting down remaining oil
              </div>
              <div class="project-name">
                oil-countdown
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-4">
        <a href="https://jspollock.art" class="portfolio-box">
          <img src="img/portfolio/js-pollock.png" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Single Page App for computer generated art inspired by Jackson Pollock
              </div>
              <div class="project-name">
                js-pollock
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="custom-hidden-xs custom-hidden-sm custom-hidden-md custom-hidden-lg custom-visible-xl">
      <div style="height: 50px;"></div>
    </div>
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-4">
        <a href="https://dev.to/cujarrett/build-an-express-like-app-on-aws-lambda-12g6" class="portfolio-box">
          <img src="img/portfolio/build-an-express-like-lambda-on-aws-lambda.png" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                A dead simple Express-like Lambda hello world example
              </div>
              <div class="project-name">
                Build an Express-like Lambda on AWS
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-4">
        <a href="https://twitter.com/destinyinsights" class="portfolio-box">
          <img src="img/portfolio/destiny-insights.png" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Node Twitter bot Destiny the game
              </div>
              <div class="project-name">
                Destiny Insights
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-4">
        <a href="https://github.com/cujarrett/markdown-tables" class="portfolio-box">
          <img src="img/portfolio/markdown-tables.png" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Helping the world move Excel table data into Markdown tables
              </div>
              <div class="project-name">
                markdown-tables
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="custom-hidden-xs custom-hidden-sm custom-hidden-md custom-hidden-lg custom-visible-xl">
      <div style="height: 50px;"></div>
    </div>
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-4">
        <a href="https://glimpse.ninja" class="portfolio-box">
          <img src="img/portfolio/glimpse.png" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                React web app to lookup GitHub Open Source contributions
              </div>
              <div class="project-name">
                glimpse
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-4">
        <a href="https://github.com/cujarrett/es6-in-six-hours" class="portfolio-box">
          <img src="img/portfolio/es6-in-six-hours.png" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Learn ES6 in Six One Hour Sessions
              </div>
              <div class="project-name">
                ES6 in Six Hours
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-4">
        <a href="https://dev.to/cujarrett/how-i-built-a-resume-api-w-go-terraform-and-aws-371o" class="portfolio-box">
          <img src="img/portfolio/resume-api.png" class="img-responsive" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Open source REST API for my JSON-based standard format resume
              </div>
              <div class="project-name">
                resume-api
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
