<div class="support" id="support">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1 class="section-heading">support</h1>
    <hr class="light">
  </div>
  <div class="left vertical-align-parent" id="conditional-hide">
    <div id="support-left">
      <div class="verticle-align-child">
        <h4 class="text-faded">Hi 👋</h4>
        <br/>
        <h4 class="text-faded">Thanks for the interest in something I've made. I hope it made some smiles. If you feel inclined, you can buy me a coffee 🎉</h4>
        <br/>
        <h4 class="text-faded">Thank you 🙌</h4>
        <br/>
        <h4 class="text-faded"><a href="https://www.buymeacoffee.com/cujarrett">https://www.buymeacoffee.com/cujarrett</a></h4>
      </div>
    </div>
  </div>
  <div class="right" id="conditional-full-width">
    <div id="support-right">
      <div>
        <a href="https://www.buymeacoffee.com/cujarrett">
          <img src="img/support.jpg" class="img-responsive" alt="buymeacoffee link" />
        </a>
      </div>
    </div>
  </div>
</div>
